<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sticky Rice Love</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="row">
      <div class="columns">
        <div class="icon-bar five-up">
          <a class="item" href="/">
            <label>主頁</label>
          </a>
          <a class="item" href="/">
            <label>關於我們</label>
          </a>
          <a class="item" href="/">
            <label>網誌</label>
          </a>
          <a class="item" href="/">
            <label>討論區</label>
          </a>
          <a class="item" href="/">
            <label>相薄</label>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns" role="content">
        <%= @inner %>
      </div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
